.principalImage {
    width: 75vh;
    margin-left: 100px;
}

.loginBtn {
    background-color: #ae340b;
    border-color: #ae340b;
    font-family: 'Montserrat', sans-serif;
}

.loginBtn:hover {
    background-color: #1a9949;
    border-color: #1a9949;
}

.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}